<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Account Transactions</h4>
      </div>
      <table class="table table-striped table-hover card-block">
        <tr>
          <th>To</th>
          <th>From</th>
          <th class="text-md-right">Amount</th>
        </tr>
        <tr *ngFor="let tx of transactions">
          <td>{{tx.tx_to}}</td>
          <td>{{tx.tx_from}}</td>
          <td class="text-md-right">{{tx.amount | currency:'USD':true}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
