<div class="row">
	<div class="col-md-12">
		<h1>Accounts</h1>
	</div>
</div>

<div class="row">
	<create-account></create-account>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr *ngFor="let account of accounts">
				<td><a [routerLink]="['/account', account.id]">{{account.account_type}}</a></td>
				<td>
					<div style="float:right;">{{account.total | currency:'USD':true}}</div>
				</td>
				<!-- <ul>
			<li *ngFor="let transaction of account.transactions" >
				<div [ngClass] = "{d: transaction.tx_type == 'D', w: transaction.tx_type == 'W'}">{{transaction.amount | currency:'USD':true}}{{transaction.tx_type}}</div>
			</li>
			</ul> -->
			</tr>
		</table>
	</div>
</div>
