<div class="row">
    <div class="col-md-12">
      <h3>General Settings</h3>
    </div>
</div>

<br/>

<style type="text/css">
   
   a.cancel-button {
    margin-right: 20px;
   }

    a.edit-button:hover {
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }

    a.save-button:hover {
      text-decoration: underline;
      color: lime;
      cursor: pointer;
    }

    a.cancel-button:hover {
      text-decoration: underline;
      color: red;
      cursor: pointer;
    }

</style>


  <div class="row edit-row" *ngIf="!editingName">
    <div class="col-md-2">
      <label>Name</label>
    </div>
    <div class="col-md-6">
      <p>{{fname}} {{lname}}</p>
    </div>
    <div class="col-md-4">
      <a class="edit-button" (click)="onEdit('name')">Edit</a>
    </div>
  </div>

    <div class="row edit-row" *ngIf="editingName">
      <div class="col-md-2">
        <label>Name</label>
      </div>

      <div class="form-group col-xs-4 col-md-3">
        <input type="text" value='{{fname}}' class="form-control" id="fname" placeholder=""/>
        <label for="name" class="control-label" style="padding: 0; margin: 0;">first name</label>
      </div>

      <div class="form-group col-xs-4 col-md-3">
        <input type="text" value='{{lname}}' class="form-control" id="lname" placeholder=""/>
        <label for="name" class="control-label" style="padding: 0; margin: 0;">last name</label>
      </div>

      <div class="col-md-4">
        <a style="text-align: center;" class="cancel-button" (click)="onCancel('name')">Cancel</a>
        <a style="text-align: center;" class="save-button" (click)="onSave('name')">Save</a>
      </div>
    </div>

    <div class="row edit-row" *ngIf="!editingEmail">
      <div class="col-md-2">
        <label>Email</label>
      </div>

      <div class="col-md-6">
        <p >{{email}}</p>
      </div>

      <div class="col-md-4">
        <a class="edit-button" (click)="onEdit('email')">Edit</a>
      </div>
    </div>

    <div class="row edit-row" *ngIf="editingEmail">
      <div class="col-md-2">
        <label>Email</label>
      </div>

      <div class="col-md-6">
        <input type="email" value='{{email}}' class="form-control" id="email" placeholder=""/>
      </div>

      <div class="col-md-4">
        <a style="text-align: center;" class="cancel-button" (click)="onCancel('email')">Cancel</a>
        <a style="text-align: center;" class="save-button" (click)="onSave('email')">Save</a>
      </div>
    </div>


  <div class="row edit-row" *ngIf="!editingUsername">

    <div class="col-md-2">
      <label>Username</label>
    </div>
    <div class="col-md-6">
      <p>{{username}}</p>
    </div>
    <div class="col-md-4">
      <a class="edit-button" (click)="onEdit('username')">Edit</a>
    </div>

  </div>

    <div class="row edit-row" *ngIf="editingUsername">
    <div class="col-md-2">
      <label>Username</label>
    </div>
    <div class="col-md-6">
      <input type="text" value='{{username}}' class="form-control" id="username" placeholder=""/>
    </div>
    <div class="col-md-4">
      <a style="text-align: center;" class="cancel-button" (click)="onCancel('username')">Cancel</a>
      <a style="text-align: center;" class="save-button" (click)="onSave('username')">Save</a>
    </div>
  </div>

    <div class="row edit-row" *ngIf="!editingPassword">
      <div class="col-md-2">
        <label>Password</label>
      </div>
      <div class="col-md-6">
        <p>{{passwordShow}}</p>
      </div>
      <div class="col-md-4">
        <a class="edit-button" (click)="onEdit('password')">Edit</a>
      </div>
    </div>

     <div class="row edit-row" *ngIf="editingPassword">
    <div class="col-md-2">
      <label>Password</label>
    </div>

    <div class="form-group col-xs-4 col-md-2">
        <input type="text" value='' class="form-control" id="old" placeholder=""/>
        <label for="name" class="control-label" style="padding: 0; margin: 0;">old password</label>
      </div>
          <div class="form-group col-xs-4 col-md-2">
        <input type="text" value='' class="form-control" id="old" placeholder=""/>
        <label for="name" class="control-label" style="padding: 0; margin: 0;">new password</label>
      </div>

      <div class="form-group col-xs-4 col-md-2">
        <input type="text" value='' class="form-control" id="new" placeholder=""/>
        <label for="name" class="control-label" style="padding: 0; margin: 0;">confirm</label>
      </div>
    <div class="col-md-4">
      <a style="text-align: center;" class="cancel-button" (click)="onCancel('password')">Cancel</a>
      <a style="text-align: center;" class="save-button" (click)="onSave('password')">Save</a>
    </div>
  </div>

      <div class="row edit-row" *ngIf="!editingDefaultDeposit">
      <div class="col-md-2">
        <label>Default deposit</label>
      </div>
      <div class="col-md-6">
        <p>{{defaultDeposit}}</p>
      </div>
      <div class="col-md-4">
        <a class="edit-button" (click)="onEdit('defaultDeposit')">Edit</a>
      </div>
    </div>


         <div class="row edit-row" *ngIf="editingDefaultDeposit">
      <div class="col-md-2">
        <label>Default deposit</label>
      </div>

      <div class="col-md-6">
        <select [(ngModel)]="accountT" name="account" class="form-control" id="account" placeholder="">
        <option value="" disabled="true" selected>Choose an Account...</option>
        <option *ngFor="let account of accounts" [value]="account.id">{{account.account_type}} ({{account.total | currency:'USD':true}})</option>
    </select>
      </div>

      <div class="col-md-4">
        <a style="text-align: center;" class="cancel-button" (click)="onCancel('defaultDeposit')">Cancel</a>
        <a style="text-align: center;" class="save-button" (click)="onSave('defaultDeposit')">Save</a>
      </div>
    </div>

  <br/>

  <div class="row">
    <button class="btn-danger" (click)="deactivate()"><strong>Deactivate Account</strong></button>
  </div>
