<div class="row">
  <div class="col-md-12">
    <h3>{{loan.name}}</h3>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <div *ngIf="loan.description">
      <h5>Description:</h5>
      <p>{{loan.description}}</p>
    </div>

    <h5>Requested Amount:</h5>
    <p>{{loan.requested_amount | currency:'USD':true}}</p>

    <div *ngIf="loan.funding">
      <h5>Funding Source:</h5>
      <p>{{loan.funding}}</p>
    </div>

    <div *ngIf="loan.term">
      <h5>Term:</h5>
      <p>{{loan.term}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Sponsor This Loan</h3>
    <div class="form-group col-md-6">
      <label for="loanAmount"><b>Requested Amount</b></label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">$</div>
        <input [(ngModel)]="requested_amount" name="requested_amount" type="text" class="form-control" id="loanAmount" placeholder="500.00">
      </div>
    </div>
  </div>
</div>
