<div class="row">
  <div class="col-md-12">
    <h1>Transfer Funds</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills navbar-toggleable-md navbar-light">
      <li><a class="nav-link" [ngClass]="{active: transferView == 'user'}" (click)="transferView = 'user'">Your Accounts</a></li>
      <li><a class="nav-link" [ngClass]="{active: transferView == 'internal'}" (click)="transferView = 'internal'">Other Users</a></li>
      <li><a class="nav-link" [ngClass]="{active: transferView == 'external'}" (click)="transferView = 'external'">External</a></li>
    </ul>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-sm-12">
    <div *ngIf="transferView == 'user'">
      <user></user>
    </div>

    <div *ngIf="transferView == 'internal'">
      <internal></internal>
    </div>
  </div>
</div>
