<div class="row">
  <div class="col-md-12">
    <h1>Loan Marketplace</h1>
  </div>
</div>

<div class="row" style="margin-top: 30px;" *ngFor="let row of loanGrid">
  <div class="col-md-4" *ngFor="let loan of row">
    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
