<div class="row">
	<div class="col-md-4">
		<form class="form-inline">
			<div class="container" *ngIf="ShowForm">
				<label for="inlineFormCustomSelect">type:</label>
				<select class="form-control" #t (change)="callType(t.value)">
					<option *ngFor="let type of types" [value]="type">{{type}}</option>
				</select>
				<button type="submit" class="btn btn-success" (click)="createAccount()">submit</button>
				<button type="submit" class="btn btn-danger" (click)="hideFormAccount()">x</button>
			</div>
		</form>

		<button type="submit" *ngIf="!ShowForm" class="btn btn-primary" (click)="showFormAccount()">open account</button>
	</div>
</div>