<div class="row" *ngIf="loans.length > 0">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width:90%" class="text-md-left">Name</th>
          <th style="width:10%" class="text-md-right">Status</th>
        </tr>
      </thead>
      <tr *ngFor="let loan of loans">
        <td>{{loan.name}}</td>
        <td class="text-md-right">{{loan.status}}</td>
        <!-- <td><a [routerLink]="['review', loan.id]">Review</a></td> -->
      </tr>
    </table>
  </div>
</div>
