<style type="text/css">
.jumbotron {
    background-image: url('../../images/hero-bg.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron-text {
  text-shadow: black 1px 1px 1px;
}
</style>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 jumbotron-text" style="color:white">Varda</h1>
    <h2 class="jumbotron-text" style="color:white">Online Banking and Investing</h2>

    <p><a class="btn btn-secondary" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<!-- Example row of columns -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Save</h2>
      <p>
        Online banking gives everyone the opportunity to save regardless of how far
        away a brick and mortar bank may be. Our tools will help you store your money
        in a secure location with competive interest rates.<br />
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Invest</h2>
      <p>
        Investors can view our investment marketplace to find other users who are looking
        to fund their businesses and personal lives. Short term peer-to-peer lending
        is a great way to take control of your financial future.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Grow</h2>
      <p>
        Our online tools help small communities save and invest their money. With our
        online transferring system you can securely transfer funds to friends, family and
        others as well as pay for the things you need.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
